apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  template:
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:v2.51.0
        args:
        - --config.file=/etc/prometheus/prometheus.yml
        - --storage.tsdb.path=/prometheus
        volumeMounts:
        - name: config
          mountPath: /etc/prometheus
        - name: rules
          mountPath: /etc/prometheus/rules
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: prometheus-config  # ← Do config-prometheus.yml
      - name: rules
        configMap:
          name: prometheus-rules   # ← Do configmap.yaml