# apiVersion: kustomize.config.k8s.io/v1beta1
# kind: Kustomization

# namespace: observability

# commonLabels:
#   app.kubernetes.io/name: prometheus
#   app.kubernetes.io/component: monitoring

# resources:
#   - serviceaccount.yaml
#   - clusterrole.yaml
#   - clusterrolebinding.yaml
#   - configmap.yaml        # Para regras
#   - config-prometheus.yml # Para configuração
#   - deployment.yaml
#   - service.yaml

# # REMOVA completamente configMapGenerator inicialmente


apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app.kubernetes.io/name: prometheus

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - deployment.yaml
  - service.yaml

# ConfigMap básico sem generators
configMapGenerator:
  - name: prometheus-config
    files:
      - prometheus.yml