apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app.kubernetes.io/name: prometheus
  app.kubernetes.io/component: monitoring

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

# Juntar todos os configMaps em um sรณ
configMapGenerator:
  - name: prometheus-config
    behavior: merge
    files:
      - prometheus.yml
      - targets/kubernetes-targets.yaml
      - targets/custom-targets.yaml
      - exporters/mysql-exporter.yaml
      - exporters/postgres-exporter.yaml
      - exporters/kafka-exporter.yaml