apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app.kubernetes.io/name: prometheus
  app.kubernetes.io/component: monitoring

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - configmap.yaml  # Regras de alerta
  - deployment.yaml
  - service.yaml

# ConfigMap gerado a partir do prometheus.yml
configMapGenerator:
  - name: prometheus-config
    files:
      - prometheus.yml
