apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app.kubernetes.io/part-of: observability
  app.kubernetes.io/managed-by: argocd

resources:
  - namespace.yaml
  - node-exporter
  - kube-state-metrics
  - prometheus
  - grafana

# Configurações comuns
configMapGenerator:
  - name: observability-common-config
    literals:
      - cluster_name=production
      - environment=production
      - alertmanager_enabled=false

# Secret para Grafana (senha admin)
secretGenerator:
  - name: grafana-admin
    literals:
      - password=admin123
    type: Opaque