apiVersion: v1
kind: Service
metadata:
  name: kibana
  labels:
    app: kibana
    component: observability
spec:
  selector:
    app: kibana
  ports:
  - name: http
    port: 5601
    targetPort: 5601
  type: ClusterIP