apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
data:
  config.xml: |
    <yandex>
      <logger>
        <level>information</level>
        <console>true</console>
      </logger>

      <path>/var/lib/clickhouse/</path>
      <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
      <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>

      <http_port>8123</http_port>
      <tcp_port>9000</tcp_port>
    </yandex>
