apiVersion: v1
kind: Service
metadata:
  name: clickhouse-nodeport
spec:
  type: NodePort
  selector:
    app: clickhouse
  ports:
    - name: http
      port: 8123
      targetPort: 8123
      nodePort: 30123
