# Minimal ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: redpanda-config
data:
  redpanda.yaml: |
    node_id: 0
    data_directory: /var/lib/redpanda/data
    kafka_api:
      - address: 0.0.0.0
        port: 9092
    admin_api:
      - address: 0.0.0.0
        port: 9644
    rpc_server:
      address: 0.0.0.0
      port: 33145
    seed_servers: []
    developer_mode: true