apiVersion: v1
kind: ConfigMap
metadata:
  name: redpanda-config
data:
  redpanda.yaml: |
    node_id: 0
    data_directory: /var/lib/redpanda/data
    kafka_api:
      address: 0.0.0.0
      port: 9092
    replication_factor: 3
    seed_servers:
      - host: redpanda-0.redpanda.logging.svc.cluster.local
        port: 33145
