apiVersion: v1
kind: ConfigMap
metadata:
  name: redpanda-config
data:
  redpanda.yaml: |
    redpanda:
      data_directory: /var/lib/redpanda/data
      node_id: 0
      seed_servers: []
      rpc_server:
        address: 0.0.0.0
        port: 33145
      kafka_api:
        - address: 0.0.0.0
          port: 9092
          name: PLAINTEXT
      admin:
        - address: 0.0.0.0
          port: 9644
      advertised_kafka_api:
        - address: localhost
          port: 9092
          name: PLAINTEXT
      auto_create_topics_enabled: true