# service-nodeport.yaml
apiVersion: v1
kind: Service
metadata:
  name: redpanda-external
  namespace: production-messaging
spec:
  type: NodePort
  selector:
    app: redpanda
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092
    nodePort: 31092  # Porta fixa entre 30000-32767
  - name: admin
    port: 9644
    targetPort: 9644
    nodePort: 31093  # Porta fixa entre 30000-32767