apiVersion: v1
kind: Service
metadata:
  name: kafdrop
spec:
  type: ClusterIP
  ports:
  - port: 9000
    targetPort: 9000
    nodePort: 30090
    protocol: TCP
    name: http
  selector:
    app: kafdrop