apiVersion: v1
kind: Service
metadata:
  name: kafdrop
  namespace: production-observability
spec:
  type: ClusterIP
  ports:
  - port: 9000
    targetPort: 9000
    name: http
  selector:
    app: kafdrop