  apiVersion: v1
  kind: Service
  metadata:
    name: kafdrop
  spec:
    type: NodePort
    ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30000
      name: http
    selector:
      app: kafdrop