apiVersion: v1
kind: Service
metadata:
  name: cassandra
  labels:
    app: cassandra
    component: nosql
spec:
  clusterIP: None
  selector:
    app: cassandra
  ports:
  - name: intra-node
    port: 7000
  - name: tls-intra-node
    port: 7001
  - name: jmx
    port: 7199
  - name: cql
    port: 9042
  - name: thrift
    port: 9160