apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app.kubernetes.io/name: prometheus

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - configmap-rules.yaml    # Para regras de alerta
  - configmap-config.yaml   # Para configuração principal
  - deployment.yaml
  - service.yaml

# SEM configMapGenerator inicialmente