apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app.kubernetes.io/name: grafana
  app.kubernetes.io/component: visualization

resources:
  - deployment.yaml
  - service.yaml
  - configmap-datasources.yaml
  - configmap-dashboard-provider.yaml
  - configmap-dashboards.yaml

secretGenerator:
  - name: grafana-admin
    behavior: merge
    literals:
      - password=admin123
    type: Opaque