apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

commonLabels:
  app: grafana  # ADICIONE
  app.kubernetes.io/name: grafana
  app.kubernetes.io/component: visualization
  app.kubernetes.io/part-of: observability  # ADICIONE

resources:
  - configmap-dashboard-provider.yaml
  # - configmap-dashboards.yaml
  - configmap-datasources.yaml
  - secret-admin.yaml
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: grafana-dashboards
    files:
      - dashboards/node-exporter.json
      # - dashboards/node-exporter-full-clean.json
      # - dashboards/kubernetes-node.json
      - dashboards/home.json
    options:
      labels:
        app.kubernetes.io/name: grafana