# roles/argocd/tasks/main.yml
- name: Create ArgoCD namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ argocd_namespace }}"
    state: present
    kubeconfig: "{{ ansible_user_home }}/.kube/config"

- name: Install ArgoCD manifests
  template:
    src: argocd-install.yaml.j2
    dest: /var/lib/rancher/k3s/server/manifests/argocd.yaml

- name: Deploy App-of-Apps
  template:
    src: app-of-apps.yaml.j2
    dest: /var/lib/rancher/k3s/server/manifests/app-of-apps.yaml

- name: Wait for App-of-Apps sync
  kubernetes.core.k8s_info:
    kind: Application
    namespace: "{{ argocd_namespace }}"
    name: app-of-apps
    kubeconfig: "{{ ansible_user_home }}/.kube/config"
  register: appsync
  retries: 20
  delay: 20
  until: appsync.resources[0].status.health.status == "Healthy" and appsync.resources[0].status.sync.status == "Synced"
