
- name: Create ArgoCD namespace - teste1
  debug:
    msg: "kubeconfig_path = {{ kubeconfig_path }}"

- name: Create ArgoCD namespace - teste2
  shell: "ls {{ kubeconfig_path }}"
  register: 


- name: Show ls result
  debug:
    var: kube_ls.stdout


- name: Create ArgoCD namespace - Ensure kubeconfig is available for root
  shell: |
    sudo mkdir -p /root/.kube
    sudo cp {{ kubeconfig_path }} /root/.kube/config

- name: Create ArgoCD namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ argocd_namespace }}"
    state: present

- name: Install ArgoCD
  kubernetes.core.k8s:
    state: present
    src: "{{ role_path }}/files/argocd-install.yaml"
    namespace: "{{ argocd_namespace }}"

- name: Patch argocd-server to NodePort
  kubernetes.core.k8s:
    state: patched
    kind: Service
    name: argocd-server
    namespace: "{{ argocd_namespace }}"
    definition:
      spec:
        type: NodePort
        ports:
          - name: https
            port: 443
            targetPort: 8080
            nodePort: "{{ argocd_nodeport }}"

- name: Wait for ArgoCD server to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ argocd_namespace }}"
    label_selectors:
      - app.kubernetes.io/name=argocd-server
  register: argocd_pods
  until: argocd_pods.resources | length > 0 and
         argocd_pods.resources[0].status.containerStatuses[0].ready
  retries: 30
  delay: 10

- name: Get initial admin password
  shell: |
    kubectl -n {{ argocd_namespace }} get secret argocd-initial-admin-secret \
      -o jsonpath="{.data.password}" | base64 -d
  register: argocd_admin_password
  changed_when: false

- name: Show ArgoCD access info
  debug:
    msg:
      - "ArgoCD UI: https://<NODE-IP>:{{ argocd_nodeport }}"
      - "User: admin"
      - "Password: {{ argocd_admin_password.stdout }}"