apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-ini
  namespace: observability
  labels:
    app.kubernetes.io/name: grafana
data:
  grafana.ini: |
    [paths]
    data = /var/lib/grafana
    logs = /var/log/grafana
    plugins = /var/lib/grafana/plugins
    provisioning = /etc/grafana/provisioning
    
    [server]
    domain = localhost
    root_url = http://localhost:3000/
    serve_from_sub_path = false
    
    [database]
    
    [analytics]
    check_for_updates = true
    
    [security]
    admin_user = admin
    admin_password = ${GF_SECURITY_ADMIN_PASSWORD}
    secret_key = ${GF_SECURITY_SECRET_KEY}
    
    [users]
    allow_sign_up = false
    auto_assign_org = true
    auto_assign_org_role = Viewer
    
    [auth.anonymous]
    enabled = true
    org_name = Main Org.
    org_role = Viewer
    
    [auth.basic]
    enabled = true
    
    [dashboards]
    default_home_dashboard_path = /etc/grafana/dashboards/home.json
    
    [log]
    mode = console
    level = info
    
    [feature_toggles]
    enable = publicDashboards,panelTitleSearch