apiVersion: v1
kind: Service
metadata:
  name: kafka
  labels:
    app: kafka
    component: messaging
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092
  - name: kafka-internal
    port: 9093
    targetPort: 9093