# roles/k3s/tasks/main.yml
- name: Instalar K3s
  shell: |
    curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s
  register: k3s_install
  retries: 3
  delay: 10
  until: k3s_install is succeeded
