# roles/k3s/tasks/main.yml

- name: Parar K3s se estiver rodando
  systemd:
    name: k3s
    state: stopped
    enabled: no
  ignore_errors: yes
  become: yes
  tags:
    - rollback

- name: Rodar script de desinstalação do K3s
  shell: |
    if [ -f /usr/local/bin/k3s-uninstall.sh ]; then
      /usr/local/bin/k3s-uninstall.sh
    fi
  ignore_errors: yes
  become: yes
  tags:
    - rollback

- name: Remover diretórios antigos do K3s
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/rancher/k3s
    - /var/lib/rancher/k3s
    - /var/lib/kubelet
    - /etc/systemd/system/k3s.service
    - /etc/systemd/system/k3s.service.env
  ignore_errors: yes
  become: yes
  tags:
    - rollback

- name: Liberar porta k3s
  shell:  sudo kill -9 $(sudo lsof -t -i :6443)
  become: yes
  tags:
    - rollback

- name: Instalar pacotes necessários
  apt:
    name:
      - curl
      - iptables
      - iproute2
      - socat
      - conntrack
      - util-linux
    state: present
    update_cache: yes
  become: yes

- name: Carregar módulos de kernel necessários
  shell: |
    lsmod | grep -q br_netfilter || modprobe br_netfilter
    lsmod | grep -q overlay || modprobe overlay
  become: yes

- name: Aplicar sysctl
  shell: sysctl --system
  become: yes

- name: Instalar K3s (master) # padrão é 6443
  shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="v1.27.10+k3s1" sh -
  # shell: | 
  #   export K3S_KUBECONFIG_MODE="644"
  #   export INSTALL_K3S_VERSION="v1.27.10+k3s1"
  #   export K3S_ARGS="--https-listen-port=7443"  # <-- aqui você muda a porta
  #   curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s
  register: k3s_install
  retries: 3
  delay: 10
  until: k3s_install.rc == 0
  become: yes

- name: Aguardar K3s inicializar
  wait_for:
    path: /etc/rancher/k3s/k3s.yaml
    timeout: 300


# - name: Liberar porta k3s
#   shell:  sudo kill -9 $(sudo lsof -t -i :6443)
#   become: yes

# - name: Subir k3s
#   shell: k3s server --https-listen-port=6443
#   become: yes

# - name: Garantir que K3s está ativo
#   systemd:
#     name: k3s
#     state: started
#     enabled: yes
#   register: k3s_start
#   failed_when: k3s_start.status != 0
#   become: yes

- name: Verificar status do K3s
  shell: sudo k3s kubectl get nodes
  register: k3s_status
  retries: 10
  delay: 15
  until: "'Ready' in k3s_status.stdout"
  become: yes

- name: Mostrar status final do cluster
  debug:
    msg: "{{ k3s_status.stdout }}"
