apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  labels:
    app: promtail
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
      log_level: info
    
    positions:
      filename: /run/promtail/positions.yaml
    
    clients:
      - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
        batchwait: 1s
        batchsize: 1048576
        timeout: 10s
    
    scrape_configs:
    - job_name: kubernetes-pods-name
      pipeline_stages:
      - cri: {}
      - labeldrop:
        - filename
      kubernetes_sd_configs:
      - role: pod
      relabel_configs:
      - source_labels:
        - __meta_kubernetes_pod_container_name
        target_label: container
      - source_labels:
        - __meta_kubernetes_pod_node_name
        target_label: node
      - source_labels:
        - __meta_kubernetes_pod_name
        target_label: pod
      - source_labels:
        - __meta_kubernetes_namespace
        target_label: namespace
      - source_labels: [__meta_kubernetes_pod_label_name]
        target_label: __service__
      - source_labels: [__meta_kubernetes_pod_node_name]
        target_label: __host__
      - action: replace
        target_label: job
        replacement: kubernetes-pods-name
      - action: replace
        source_labels:
        - __meta_kubernetes_namespace
        target_label: job
      - action: replace
        target_label: __service__
        replacement: $1
        source_labels:
        - __meta_kubernetes_pod_label_name
      - action: replace
        target_label: __host__
        replacement: $1
        source_labels:
        - __meta_kubernetes_pod_node_name
      - replacement: /var/log/pods/*$1/*.log
        separator: /
        source_labels:
        - __meta_kubernetes_pod_uid
        - __meta_kubernetes_pod_container_name
        target_label: __path__