apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap-datasources.yaml
  - configmap-dashboards.yaml
  - configmap-dashboard-provider.yaml

commonLabels:
  app: grafana
