apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- configmap.yaml
- secret.yaml
- pvc.yaml

commonLabels:
  app: postgres
  component: relational
  managed-by: kustomize
  part-of: platform

configMapGenerator:
- name: postgres-init-scripts
  files:
  - init.sql
  
secretGenerator:
- name: postgres-secret
  literals:
  - username=postgres
  - password=senha-segreda
  - database=appdb