apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - secret.yaml
  - configmap.yaml

commonLabels:
  app: postgres
  component: database
  managed-by: kustomize
  part-of: platform

configMapGenerator:
  - name: postgres-init-scripts
    files:
      - init.sql

# secretGenerator (comente se estiver usando secret.yaml)
# - name: postgres-secret
#   literals:
#     - username=postgres
#     - password=senha-segreda
#     - database=appdb