apiVersion: v1
kind: ConfigMap
metadata:
  name: clickvisual-config
# dsn = "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(mysql.production-database.svc.cluster.local:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local"
data:
  # default.toml: |
  #   [server]
  #   port = 3001

  #   [mysql]
  #   dsn = "root:root123@tcp(mysql.production-database.svc.cluster.local:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local&tls=false&allowNativePasswords=true"

  #   [clickhouse]
  #   host = "clickhouse"
  #   port = 8123
  #   database = "default"

  #   [auth]
  #   enabled = false
  #   jwt_secret = "change-me-in-production-please"
  #   token_ttl = 86400
    
  config.xml: |
    <?xml version="1.0"?>
    <yandex>
      <logger>
        <level>trace</level>
        <console>true</console>
      </logger>
      
      <http_port>8123</http_port>
      <tcp_port>9000</tcp_port>
      
      <listen_host>0.0.0.0</listen_host>
      
      <max_connections>4096</max_connections>
      <keep_alive_timeout>3</keep_alive_timeout>
      
      <openSSL>
        <server>
          <certificateFile>/etc/clickhouse-server/server.crt</certificateFile>
          <privateKeyFile>/etc/clickhouse-server/server.key</privateKeyFile>
        </server>
      </openSSL>
    </yandex>
