apiVersion: v1
kind: ConfigMap
metadata:
  name: clickvisual-config
data:
  MYSQL_HOST: mysql
  MYSQL_PORT: "3306"
  MYSQL_DB: clickvisual

  CLICKHOUSE_HOST: clickhouse
  CLICKHOUSE_PORT: "8123"
  CLICKHOUSE_DB: default
