apiVersion: v1
kind: ConfigMap
metadata:
  name: clickvisual-config
# dsn = "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(mysql.production-database.svc.cluster.local:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local"
data:
  default.toml: |
    [server]
    http = ''
    port = 8089
    
    [mysql]
    dsn = "root:root123@tcp(mysql.production-database.svc.cluster.local:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local"
    
    [clickhouse]
    address = "clickhouse:8123"
    database = "default"

    [auth]
    enabled = false

    

