apiVersion: v1
kind: ConfigMap
metadata:
  name: clickvisual-config
data:
  default.toml: |
    [mysql]
    dsn = "root:password123@tcp(mysql:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local"

    [clickhouse]
    host = "clickhouse"
    port = 8123
    database = "default"
