apiVersion: v1
kind: ConfigMap
metadata:
  name: clickvisual-config
# dsn = "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(mysql.production-database.svc.cluster.local:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local"
data:
  default.toml: |
    [server]
    port = 8089
    
    [server.http]
    enabled = true
    host = "0.0.0.0"
    read_timeout = "60s"
    write_timeout = "60s"
    max_header_bytes = 1048576
    
    [mysql]
    debug = true
    dsn = "root:root123@tcp(mysql.production-database.svc.cluster.local:3306)/clickvisual?charset=utf8mb4&parseTime=True&loc=Local"
    
    [clickhouse]
    address = "clickhouse:8123"
    database = "default"

    [auth]
    enabled = false


    

