apiVersion: v1
kind: Service
metadata:
  name: loki
  labels:
    app: loki
spec:
  ports:
  - port: 3100
    targetPort: http
    name: http
  - port: 9096
    targetPort: grpc
    name: grpc
  selector:
    app: loki
  type: ClusterIP